*{
  scroll-behavior: smooth;
}
body {
margin: 0;
font-family: 'Saira Condensed', sans-serif;
height: 1000px;
}

.head-content{
	height: 20vh;
	background-color: green;
}
.head-content p{
	font-size: 48px;
	text-align: center;
}

